# Importing required libraries

In [1]:
import pandas as pd
import numpy as np 
import os

# Loading Dataset

In [2]:
df = pd.read_csv("C:\\Users\\NISHANT AGRAWAL\\Desktop\\Oasis Infobyte\\Task - 4\\spam.csv",encoding="ISO-8859-1")
print(df)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will Ì_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [3]:
# Drop unnecessary columns from the DataFrame
column_remove = ['Unnamed: 2','Unnamed: 3','Unnamed: 4']
df = df.drop(column_remove, axis=1)

In [4]:
display(df)

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
df.shape

(5572, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
#Drop duplicated values
df=df.drop_duplicates()
print(df)

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [9]:
# Convert the "Category" column values to numerical representation (0 for "spam" and 1 for "ham")

df.loc[df["v1"] == "spam", "Category"] = 0
df.loc[df["v1"] == "ham", "Category"] = 1

In [10]:
display(df)

        v1                                                 v2  Category
0      ham  Go until jurong point, crazy.. Available only ...       1.0
1      ham                      Ok lar... Joking wif u oni...       1.0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...       0.0
3      ham  U dun say so early hor... U c already then say...       1.0
4      ham  Nah I don't think he goes to usf, he lives aro...       1.0
...    ...                                                ...       ...
5567  spam  This is the 2nd time we have tried 2 contact u...       0.0
5568   ham              Will Ì_ b going to esplanade fr home?       1.0
5569   ham  Pity, * was in mood for that. So...any other s...       1.0
5570   ham  The guy did some bitching but I acted like i'd...       1.0
5571   ham                         Rofl. Its true to its name       1.0

[5169 rows x 3 columns]

In [11]:
# Starting of the Dataframe
df.head()

     v1                                                 v2  Category
0   ham  Go until jurong point, crazy.. Available only ...       1.0
1   ham                      Ok lar... Joking wif u oni...       1.0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...       0.0
3   ham  U dun say so early hor... U c already then say...       1.0
4   ham  Nah I don't think he goes to usf, he lives aro...       1.0

In [12]:
# Ending of the Dataframe
df.tail()

        v1                                                 v2  Category
5567  spam  This is the 2nd time we have tried 2 contact u...       0.0
5568   ham              Will Ì_ b going to esplanade fr home?       1.0
5569   ham  Pity, * was in mood for that. So...any other s...       1.0
5570   ham  The guy did some bitching but I acted like i'd...       1.0
5571   ham                         Rofl. Its true to its name       1.0

In [13]:
# Seperating the feature (v2) and target (category) data
X = df['v2']
y = df['Category']

In [14]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5169, dtype: object

In [15]:
y

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
5567    0.0
5568    1.0
5569    1.0
5570    1.0
5571    1.0
Name: Category, Length: 5169, dtype: float64

# Split into train and test data

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

# TF-IDF Vectorizer

In [17]:
#Create a TF-IDF vectorizer to convert text messages into numerical feature
from sklearn.feature_extraction.text import TfidfVectorizer

feature_extraction=TfidfVectorizer(min_df=1,stop_words="english",lowercase=True)

In [18]:
# Convert the training and testing text messages into numerical features using TF-IDF
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)

In [19]:
# Convert the target values to integers (0 and 1)
y_train=y_train.astype("int")
y_test=y_test.astype("int")

In [20]:
print(X_train)

4228    Have you bookedthe hut? And also your time off...
3061                            Fine. Do you remember me.
3345    U're welcome... Caught u using broken english ...
3463                                             My phone
2649    You might want to pull out more just in case a...
                              ...
3534                             I'm at home. Please call
1124                   Aiyar sorry lor forgot 2 tell u...
2628    Haha... They cant what... At the most tmr forf...
3833           Watching tv lor. Nice one then i like lor.
2694    Hey sexy buns! What of that day? No word from ...
Name: v2, Length: 4135, dtype: object

In [21]:
print(X_train_features)

  (0, 7054)	0.36075839226747747
  (0, 6583)	0.30435292112105844
  (0, 3404)	0.6233869912877809
  (0, 1352)	0.6233869912877809
  (1, 5426)	0.7301484604418181
  (1, 2725)	0.6832885376723676
  (2, 2488)	0.4509976880080445
  (2, 1441)	0.4808473624278175
  (2, 6878)	0.44034387806428416
  (2, 1605)	0.4640368975654969
  (2, 7092)	0.3951631640306381
  (3, 4944)	1.0
  (4, 4150)	0.32645156438660716
  (4, 4369)	0.22978971322349848
  (4, 6429)	0.3382777846315093
  (4, 2179)	0.3172784353084517
  (4, 1874)	0.32645156438660716
  (4, 2312)	0.18946915146620047
  (4, 6086)	0.3172784353084517
  (4, 4990)	0.24795285907173
  (4, 1593)	0.27799865433665266
  (4, 3697)	0.31226581786242585
  (4, 5240)	0.3382777846315093
  (4, 7020)	0.17801162109347568
  (5, 6491)	0.43506510849684216
  :	:
  (4129, 5346)	0.44059536744272915
  (4129, 6626)	0.40660185401455845
  (4129, 4003)	0.37870257463202295
  (4130, 3317)	1.0
  (4131, 846)	0.6184251397568395
  (4131, 4024)	0.352267537771821
  (4131, 6460)	0.363953608168257
  (4131, 2821)	0.47265737512454514
  (4131, 6039)	0.3709322110448134
  (4132, 2815)	0.5546381738009473
  (4132, 6606)	0.403594446533445
  (4132, 3151)	0.7276592738982389
  (4133, 4024)	0.6332779948799099
  (4133, 4552)	0.3946980610958018
  (4133, 3932)	0.29019590921128247
  (4133, 6751)	0.42759795786442323
  (4133, 7042)	0.41966503604101624
  (4134, 1481)	0.4541209787959751
  (4134, 5774)	0.37875230469027
  (4134, 7312)	0.4433933881049106
  (4134, 6536)	0.2733272384462381
  (4134, 4387)	0.31982822447453385
  (4134, 7204)	0.3618254224461281
  (4134, 2104)	0.2551871410598932
  (4134, 3267)	0.2840548291373026

# Model training and Predicting

In [22]:
# Create a logistic regression model and train it on the training data
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
model=LogisticRegression()
model.fit(X_train_features,y_train)

LogisticRegression()

In [23]:
# predicting model accuracy
Y = model.predict(X_test_features)
accuracy =  metrics.accuracy_score(y_test,Y)
print("Accuracy: ",accuracy*100)

Accuracy:  96.0348162475822

# Predicting Model on random email

In [24]:
new_mail=["Congratulations on your recent achievement! Well done."]
new_data_features=feature_extraction.transform(new_mail)
prediction=model.predict(new_data_features)
print(prediction)

if(prediction[0]==1):
    print("Ham Mail")
else:
    print("Spam Mail")

[1]
Ham Mail